@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #003950;
}

.app {
    display: flex;
    height: 100vh;
}